In [2]:
import pandas as pd

In [4]:
events = pd.read_csv('Nat Cat Events.csv')

In [5]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91479 entries, 0 to 91478
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   url            91479 non-null  object
 1   url_mobile     25383 non-null  object
 2   title          91384 non-null  object
 3   seendate       91479 non-null  object
 4   socialimage    79390 non-null  object
 5   domain         91479 non-null  object
 6   language       91479 non-null  object
 7   sourcecountry  89958 non-null  object
dtypes: object(8)
memory usage: 5.6+ MB

In [7]:
events['title']

0        2023 was a year of extreme weather in Southern...
1        HAWAIIAN VOLCANO OBSERVATORY DAILY UPDATE Mond...
2                How to Protect Your Family from Tornadoes
3        Iceland volcanoes bring tourists to island cou...
4                How to Protect Your Family from Tornadoes
                               ...
91474    Indonesia : Mount Ibu erupts on 2024 last day ...
91475    Montgomery County crime : Authorities detain d...
91476    Love Island India Reynolds reveals her family ...
91477    New Year celebrated across world but united ki...
91478    Kentucky Humane Society receives $30 , 000 gra...
Name: title, Length: 91479, dtype: object